html,
body {
	padding: 0;
	margin: 0;
	background: #000;
}

.slideshow-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.slides {
	position: relative;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.showing-fade {
	opacity: 1;
	z-index: 2;
	animation-duration: 1s;
	animation-name: slide-fade;
}

@keyframes slide-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.showing-right {
	opacity: 1;
	animation-duration: 1s;
  animation-name: slide-right;
}


@keyframes slide-right {
  from {
    left: -50%;
  }

  to {
    left: 0;
  }
}

.showing-left {
	opacity: 1;
	animation-duration: 1s;
  animation-name: slide-left;
}

@keyframes slide-left {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.showing-top {
	opacity: 1;
	animation-duration: 1s;
  animation-name: slide-top;
}

@keyframes slide-top {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}

.showing-bottom {
	opacity: 1;
	animation-duration: 1s;
  animation-name: slide-bottom;
}

@keyframes slide-bottom {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

.show-index {
	color: #fff;
	position: absolute;
	bottom: 0;
	z-index: 100;
	left: 50%;
	font-size: 28px;
	font-family: 'Slabo 27px', serif;;
}
