html,
body {
	padding: 0;
	margin: 0;
	background: #000;
}

.slideshow-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.slides {
	position: relative;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	overflow: hidden;
}

.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.showing-fade {
	opacity: 1;
	z-index: 2;
	animation-duration: 1s;
	animation-name: slide-fade;
}

@keyframes slide-fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.showing-right {
	opacity: 1;
	animation-duration: 1s;
	animation-name: slide-right;
}


@keyframes slide-right {
	from {
		left: -50%;
	}

	to {
		left: 0;
	}
}

.showing-left {
	opacity: 1;
	animation-duration: 1s;
	animation-name: slide-left;
}

@keyframes slide-left {
	from {
		left: 100%;
	}

	to {
		left: 0;
	}
}

.showing-top {
	opacity: 1;
	animation-duration: 1s;
	animation-name: slide-top;
}

@keyframes slide-top {
	from {
		top: 100%;
	}

	to {
		top: 0;
	}
}

.showing-bottom {
	opacity: 1;
	animation-duration: 1s;
	animation-name: slide-bottom;
}

@keyframes slide-bottom {
	from {
		top: -100%;
	}

	to {
		top: 0;
	}
}

.show-index {
	color: #fff;
	position: absolute;
	bottom: 0;
	z-index: 100;
	left: 50%;
	font-size: 28px;
	font-family: 'Slabo 27px', serif;
}
/*
DEMO CSS BELOW
*/

.demo-controls {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
}

.demo-control {
	display: inline-block;
}

.demo-control span {
	position: relative;
	top: -5px;
	padding: 0 10px;
	font-size: 16px;
	font-size: 18px;
}

input[type=checkbox] {
	display: none;
}

label {
	width: 25px;
	height: 12px;
	background: #111;
	display: inline-block;
	border-radius: 80px;
	padding: 5px;
	transition: background 0.3s;
	cursor: pointer;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 3px rgba(0, 0, 0, 0.6);
}

.handle {
	width: 13px;
	height: 13px;
	background: linear-gradient(#ddd,#bbb);
	border-radius: 80px;
	transition: margin 0.3s;
	box-shadow: inset 0px 1px 0px #fff, 0px 1px 3px rgba(0, 0, 0, 0.3);
}

input[type=checkbox]:checked + label {
	background: #fff;
}

input[type=checkbox]:checked + label .handle {
	margin-left: 15px;
	background: #000;
	box-shadow: none;
}

.select-effect {
	background: #000;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	border: none;
	border-radius: 16px;
	padding: 5px;
	position: relative;
	top: -8px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
