html,
body {
	padding: 0;
	margin: 0;
	background: #978675;
}

.slideshow-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.slides {
	position: relative;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing {
	opacity: 1;
	z-index: 2;
}

.btn-arrow {
	color: transparent;
	display: block;
	font-size: 5px;
	line-height: 0;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	padding: 5px;
}

.btn-arrow:hover, .btn-arrow:focus {
	background: rgba(256, 256, 256, 0.1);
}

.btn-arrow:hover::before, .btn-arrow:hover::after, .btn-arrow:focus::before, .btn-arrow:focus::after {
	background: rgba(256, 256, 256, 0.5);
}

.btn-arrow::before {
	content: '';
	display: block;
	background: rgba(256,256,256, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 2em;
}

.btn-arrow::after {
	content: '';
	display: block;
	background: rgba(256,256,256, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 6em;
}
.btn-arrow.btn-arrow-left {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 5%;
}
.btn-arrow.btn-arrow-left::before, .btn-arrow.btn-arrow-left::after {
	top: 18px;
	left: 18px;
}
.btn-arrow.btn-arrow-right {
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 5%;
}
.btn-arrow.btn-arrow-right::before, .btn-arrow.btn-arrow-right::after {
	top: 18px;
	left: 18px;
}
